<% provide :page_title, "Все книги" %>

<h1 class="text-center display-4">Все книги</h1>

  <%== pagy_bootstrap_nav(@pagy) %>

<% @books.each do |book| %>
    <div class="card my-3">
      <div class="card-header">
        <h4><%= book.title %></h4>
      </div>
      <div class="card-body">
        <p class="card-text">Автор: <%= book.author %></p>
        <p class="card-text">Состояние: <%= book.condtition_book_text %></p>
        <p class="card-text">Описание: <%= book.description %></p>
      </div>
      <div class="card-footer text-muted">

      <div class="row justify-content-center align-items-center g-2">
        <div class="col"><p class="card-text">Добавлена: <%= book.formatted_created_at %></p></div>
        <div class="col">Место:</div>
        <div class="col">Статус: <%= book.status_book_text %></div>
        <div class="col text-end">
          <div class="btn-group" role="group" aria-label="Basic example">
            <%= link_to 'Показать', book_path(book), method: :get, class: "btn btn-success"  %>
            <%= link_to 'Изменить', edit_book_path(book), method: :get, class: "btn btn-warning" %>
            <%= link_to "Удалить", book_path(book),  'data-turbo-method': :delete,  data: { confirm: 'Are you sure?'}, class: "btn btn-danger"  %>
          </div>
        </div>
      </div>
        
      </div>
    </div>
<% end %>


  <%== pagy_bootstrap_nav(@pagy) %>


