<% provide :page_title, "Страница книги" %>

<h1 class="text-center display-4">Книга <%= @book.title %></h1>
  
  <div class="card">
  
    <div class="card-body">
      <h5 class="card-title">Название книги: <%= @book.title %></h5>
      <h6 class="card-subtitle mb-2 text-muted">Автор: <%= @book.author %></h6>
      <p class="card-text">Состояние книги: <%= @book.condition_book %></p>
      <p class="card-text">Описание: <%= sanitize @book.description %></p>
    </div>

    <div class="card-footer text-muted">
    
      <div class="row justify-content-center align-items-center g-2">
        <div class="col"><p class="card-text">Добавлена: <%= @book.created_at %></p></div>
        <div class="col"><p class="card-text">Владелец: <%= @book.user.nickname %> </p></div>
        <div class="col"><p class="card-text">Место хранения: <%= @book.place.place_name %> </p></div>
        <div class="col text-end">
          <div class="btn-group" role="group" aria-label="Basic example">
            <%= link_to 'Изменить', edit_book_path(@book), method: :get, class: "btn btn-warning" %>
            <%= link_to "Удалить", book_path(@book),  'data-turbo-method': :delete,  data: { confirm: 'Are you sure?'}, class: "btn btn-danger"  %>
          </div>
        </div>
      </div>
    </div>
  </div>


