<% provide :page_title, "Сброс пароля" %>

<h1 class="text-center">Забыли свой пароль?</h1>



<div class="row">

    <div class="col-3 col-sm-2">
    </div>

    <div class="col-12 col-sm-8">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

        <div class="mb-3 ">
          <div class="form-floating  ">
            <%= f.email_field :email, placeholder: "email", autocomplete: "email", class:'form-control shadow-sm'  %>
            <%= f.label :email, 'Ваш email' %>
          </div>
          <p class="form-text text-muted">
            Пример: (example@gmail.com)
          </p>
        </div>


      <div class="mb-3">
        <%= f.submit "Отправить инструкции по сбросу пароля", class: "btn btn-primary" %>
      </div>
      <% end %>

      <div class="mb-3">
        <%= link_to 'Назад', user_session_path  %>
      </div>

      <div class="mb-3">
        <%= render "users/shared/links" %>
      </div>

    </div>
  
    <div class="col-3 col-sm-2">
    </div>

</div>



